#insert
{
    display : flex;
    flex-direction: column;
    width : 250px;
    border: outset 3px;
    border-radius: 10px;
    padding:10px;
}


#titre
{
    animation-duration: 2s;
    animation-name : slidein;
    animation-fill-mode: forwards;
}

@keyframes slidein
{
    from {
        margin-left: 10%;
      }
    
      to {
        margin-left: 0%;

      }
}

#danger
{
    animation-duration : 3s;
    color : red;
    font-weight: bold;
    animation-name : hello;
    animation-fill-mode: forwards;
    border : solid black 1px;
    padding-bottom : 5px;
    
}

@keyframes hello
{
   from {
        opacity:0.1;
      }
    
      to {
        opacity:1;

      }
}

